texttable
speedtest-cli
pyaes
parsedatetime
fpdf
brotli
websockets
urllib3
tgcrypto
soupsieve
pysocks
pymediainfo-pyrofork
pycryptodomex
psycopg2
pillow
numpy
mutagen
multidict
jinja2
hurry.filesize
future
frozenlist
decorator
charset-normalizer
async-timeout
yarl
vcsi
requests
ratelim
pyrofork
beautifulsoup4
aiosignal
yt-dlp
geocoder
aiohttp
gofile2
